{% extends "search.html" %}

{% block maincontent %}
<div class="container-fluid indicator-seaction">
<div class="container">
    <div class="row">
        <div class="col">
            <h5>{{gdp_data.name}}</h5>
            {{gdp_data.data[0].date}}
            <h3>{{gdp_data.data[0].value}}</h3>
        </div>

        <div class="col">
            <h5>{{cpi_data.name}}</h5>
            {{cpi_data.data[0].date}}
            <h3>{{cpi_data.data[0].value}}</h3>
        </div>

        <div class="col">
            <h5>{{yield10_data.name}}</h5>
            {{yield10_data.data[0].date}}
            <h3>{{yield10_data.data[0].value}}%</h3>
        </div>

        <div class="col">
            <h5>{{unemployment_rate_data.name}}</h5>
            {{unemployment_rate_data.data[0].date}}
            <h3>{{unemployment_rate_data.data[0].value}}%</h3>
        </div>
    </div>
</div>
</div>


<div class="container-fluid market_news">
    <div class="container"> 
        <div class="row">
            
            {% for new in news %}
            <div class="col">
                <a href="{{ new['url'] }}" target="_blank">
                    <img src="{{ new['image'] }}" class="img-fluid news_image">
                    <h4 class="news_headline">{{ new["headline"] }}</h4>
                    <p class="news_summary">{{ new["summary"] }}</p>
                </a>    
                </div>
            {% endfor %}
        </div>
    </div>  
</div>

{% endblock%}
